// Basic Toastmasters colors
$tm-blue: #004156;
$tm-yellow: #F2DF74;
$tm-grey: #A9B2B1;
$tm-red: #CD202C;
$tm-crimson: #772432;

// Responsive Media Queries
$responsive-phone: "only screen and (max-width: 519px)";
$responsive-tablet: "only screen and (min-width: 520px) and (max-width: 779px)";
$responsive-tablet-desktop: "only screen and (min-width: 520px)";
$responsive-desktop: "only screen and (min-width: 780px)";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;

	&:before, &:after {
		content: '';
		content: none;
	}
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#main-header {
	background: $tm-blue;
	overflow: auto;
	padding: 15px 15px 0 15px;

	img {
		float: left;
		margin-right: 25px;
	}

	#header-info {
		padding-top: 25px;

		h1 {
			color: #FFF;
			font: {
				weight: bold;
				size: 3em;
			}
			margin: {
				bottom: 6px;
			}
		}

		p {
			color: #FFF;
			font-size: 1.3em;
			line-height: 150%;
		}
	}
}

#main-menu {
	margin: 20px 0 0 125px;

	li {
		display: inline-block;

		a {
			background: lighten($tm-blue, 5%);
			color: #FFF;
			display: block;
			font-size: 1.4em;
			padding: .6em .8em;
			text-decoration: none;

			&.current {
				background: #FFF;
				color: #000;
			}
		}
	}
}

#main-footer {
	background: $tm-blue;
	color: #FFF;
	font-size: 1.3em;
	line-height: 150%;
	padding: 20px 15px 40px;

	a {
		color: #FFF;
	}
}

ul.section-list {
	h2 {
		background: $tm-yellow;
		font-weight: bold;
		font-size: 1.6em;
		padding: .4em .6em;
	}
}

ul.item-list {
	padding: 5px;
	margin: {
		bottom: 10px;
	}

	> li {
		border-radius: 5px;
		display: inline-block;
		overflow: hidden;
		width: 33%;
		vertical-align: top;

		&:hover {
			background: #EEE;
		}

		.card-box {
			margin: 10px;
			overflow: hidden;
			position: relative;

			> *:not(img) {
				margin-left: 50px;
			}

			img {
				position: absolute;
				width: 40px;
				margin-right: 10px;
			}
		}


		.item-name {
			font-size: 1.3em;
			font-weight: bold;
			display: block;
			padding: 0 0 .6em 0;
		}
	}

}

ul.file-list {
	
	> li {
		a {
			display: block;
			line-height: 160%;
			font-size: 1.2em;

			color: $tm-blue;
			text-decoration: none;

			&:hover {
				color: #555;
			}
		}
	}
}

a[href$='.pdf'] {
	padding: 0 0 0 20px;
	background: transparent url(img/icon_pdf.gif) no-repeat top left;
}

a[href$='.pps'] {
	padding: 0 0 0 20px;
	background: transparent url(img/icon_pps.gif) no-repeat top left;
}

a[href$='.doc'] {
	padding: 0 0 0 20px;
	background: transparent url(img/icon_doc.gif) no-repeat top left;
}

#members-list {
	margin: 2em;

	th {
		background: $tm-yellow;
		font-weight: bold;
		font-size: 1.2em;
		padding: .4em .6em;
	}

	td {
		font-size: 1.3em;
		padding: .4em .6em;
	}

	a {
		color: $tm-blue;
		text-decoration: none;
	}
}

#user-add-form {
	margin: 3em;

	label {
		display: inline-block;
		font-size: 1.2em;
		width: 6em;
	}

	input {
		clear: right;
	}
}
